<form class="flex gap-2 mt-10">
  <input
    type="text"
    class="bg-slate-100 px-4 py-2 rounded-md"
    placeholder="Name"
  />
  <input
    type="text"
    class="bg-slate-100 px-4 py-2 rounded-md"
    placeholder="Amount"
  />
  <button class="bg-green-50 text-green-500 px-4 py-2 rounded-md font-semibold">
    Add
  </button>
  <button class="bg-red-50 text-red-500 px-4 py-2 rounded-md font-semibold">
    Delete
  </button>
  <button
    class="bg-purple-50 text-purple-500 px-4 py-2 rounded-md font-semibold"
  >
    Clear
  </button>
</form>
